/* form.css */
.main {
	background-color: black;
	width: 75%;
	height: 55%;
	justify-content: center;
	margin-left: 13%;
	padding-top: 1%;
	margin-top: 5%;
	color: #ffffff;
	margin-top: 20px;
}

.main>h4 {
	margin-bottom: 10px;
	text-align: center;
}

.main2 {
	display: block;
	text-align: left;
	border: 1px dashed #ccc;
	padding: 15px 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	background-color: black;
	color: #fff;
	margin: 10px 0 20px;
}

form {
	display: grid;
	margin-top: 10px;
	overflow: auto;
}

.form-field {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

label {
	font-weight: bold;
	color: black;
	width: 200px;
	font-size: 13px;
	color: #ffffff;
}

input,
select {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 13px;
	color: black;
}

textarea {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	color: black;
}

button {
	padding: 10px 20px;
	background-color: #073E2E;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	width: 100px;
	margin: 10px auto;
}

button:hover {
	background-color: #062e23;
}

.button--back {
	color: #00c289;
}

label.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
	color: white;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	color: #00c289 !important;
}
label.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
	color: white;
}
div.MuiOutlinedInput-root fieldset {
	border-color: white;
}
div.MuiOutlinedInput-root:hover fieldset {
	border-color: #00c189 !important;
}
div.MuiOutlinedInput-root.Mui-focused fieldset {
	border-color: #00c189 !important;
}